.events_title {
    margin-top: 96px;
    display: flex;
    gap: 22px;
}

.events__title-line {
    font-family: var(--font-family-m);
    color: var(--color-primary-text);
    font-size: 40px;
    line-height: 56px;
}

.green__blocks {
    display: flex;
    justify-content: space-between;
    margin-top: 48px;
}

.block__back {
    content: '';
    display: flex;
    width: 628px;
    height: 191px;
    border-radius: 8px;
    background-color: var(--color-green-secondary);
}

.block__date {
    padding: 38px 24px 0px 40px;
}

.block__text__wrapper {
    width: 381px;
    padding: 48px 24px 0 0;
}

.block__numb {
    font-family: var(--font-family-m);
    color: var(--color-primary-text);
    font-size: 48px;
    line-height: 58px;
}

.block__mounth {
    font-family: var(--font-family-m);
    color: var(--color-primary-text);
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.next__text {
    font-family: var(--font-family-m);
    color: var(--color-primary-text);
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

.next__text::after {
    content: '';
    display: block;
    display: flex;
    width: 44px;
    height: 0px;
    border: 1px solid #1D2130;
    background-color: black;
    margin-left: 23px;
}

.block__subtext {
    font-family: var(--font-family-b);
    color: var(--color-primary-text);
    font-size: 28px;
    line-height: 42px;
    padding-top: 10px;
}

.block__arrow {
    display: flex;
    align-items: center;
}

.one {
    content: url("/css/img/icons/event__arrow.svg");
    cursor: pointer;
    width: 56px;
    height: 56px;
    border-radius: 50px;
    background-color: #fff;
    -webkit-transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.one:hover {
    -webkit-transform: translate(10px);
    transform: translate(10px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5)
}