.we__do {
    background-color: var(--color-green-tertiary);
    height: 574px;
}

.we__do__wrapper {
    margin-top: 96px;
    padding-top: 96px;
    display: flex;
    justify-content: space-between;
}

.we__do__title,
.we__do__title_help {
    font-family: var(--font-family-b);
    color: var(--color-primary-text);
}

.we__do__title_help {
    font-family: var(--font-family-b);
    font-size: 48px;
    line-height: 58px;
}

.functions__cards {
    display: flex;
    padding-top: 64px;
}

.func__card_list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.title__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: var(--font-family-b);
    color: var(--color-primary-text);
    font-size: 24px;
    line-height: 28px;
    list-style-type: none;
    padding-bottom: 12px;
}

.title__card p {
    font-family: var(--font-family-r);
    color: var(--color-secondary-text);
    font-size: 16px;
    line-height: 26px;
    list-style-type: none;
    margin-left: 52px;
    padding-bottom: 30px;
}

.func__card_list li {
    width: 384px;
    display: flex;
}

.title_card li {
    display: flex;
    align-items: center;
}

.title_card li h3 {
    position: relative;
}

.img__func__card__1::before {
    content: '';
    display: inline-block;
    width: 28px;
    height: 28px;
    margin-right: 24px;
    background-image: url('/css/img/icons/function1.svg');
    background-repeat: no-repeat;
}

.img__func__card__2::before {
    content: '';
    display: inline-block;
    width: 28px;
    height: 28px;
    margin-right: 24px;
    background-image: url('/css/img/icons/function2.svg');
    background-repeat: no-repeat;
}

.img__func__card__3::before {
    content: '';
    display: inline-block;
    width: 28px;
    height: 28px;
    margin-right: 24px;
    background-image: url('/css/img/icons/function3.svg');
    background-repeat: no-repeat;
}

.img__func__card__4::before {
    content: '';
    display: inline-block;
    width: 28px;
    height: 28px;
    margin-right: 24px;
    background-image: url('/css/img/icons/function4.svg');
}

.img__func__card__5::before {
    content: '';
    display: inline-block;
    width: 28px;
    height: 28px;
    margin-right: 24px;
    background-image: url('/css/img/icons/function5.svg');
}

.img__func__card__6::before {
    content: '';
    display: inline-block;
    width: 28px;
    height: 28px;
    margin-right: 24px;
    background-image: url('/css/img/icons/function6.svg');
}