.about__wrapper {
    margin-top: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about__text,
.about__title_help__2,
.h3__second,
.h3__first {
    width: 1008px;
    text-align: center;
}

.about__date,
.about__title_text,
.about__subtitle_text,
.posuere {
    font-size: 16px;
    line-height: 26px;
}

.about__title_help {
    padding-top: 32px;
    font-family: var(--font-family-b);
    color: var(--color-primary-text);
    font-size: 56px;
    line-height: 67px;
}

.about__date,
.about__title_help__2,
.h3__first,
.h3__second {
    font-family: var(--font-family-b);
    color: var(--color-primary-text);
}

.about__title_help {
    padding-top: 32px;
    font-family: var(--font-family-b);
    color: var(--color-primary-text);
    font-size: 56px;
    line-height: 67px;
}

.about__title_text,
.about__subtitle_text,
.posuere {
    padding-top: 16px;
    font-family: var(--font-family-r);
    color: var(--color-secondary-text);
}

.about__video img {
    padding-top: 48px;
    border-radius: 12px;
}

.about__title_help__2 {
    padding-top: 75px;
    font-size: 48px;
    line-height: 58px;
}

.about__subtitle_text {
    padding-top: 32px;
    width: 1008px;
}

.about__subtitle_text p {
    padding-bottom: 32px;
}

.h3__first,
.h3__second {
    font-size: 28px;
    line-height: 42px;
}

.h3__second {
    padding-top: 32px;
}


/* 
.about__text,
.about__title_text {
    width: 832px;
}

.about__text-line {
    display: flex;
}

.about__line {
    margin-right: 24px;
    padding-bottom: 4px;
}

.about__title,
.about__title_help {
    font-family: var(--font-family-b);
    color: var(--color-primary-text);
}

.about__title {
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.about__title_help {
    font-family: var(--font-family-b);
    font-size: 56px;
    line-height: 65px;
    padding-left: 97px;
    margin-top: 32px;
    margin-bottom: 32px;
}

.about__title_text {
    font-family: var(--font-family-r);
    font-size: 16px;
    line-height: 26px;
    color: var(--color-secondary-text);
    padding-left: 97px;
}

.about__title_text p {
    padding-bottom: 32px;
}

.about__title_text ul {
    padding-bottom: 16px;
    margin-left: 20px;
}

.about__wrapper h2 {
    font-size: 48px;
    line-height: 58px;
}

.about__video {
    padding-left: 97px;
}

.about__button {
    margin-top: 48px;
}

.bottom_first {
    display: flex;
}

.about__bottom-line {
    display: flex;
    width: 162px;
    font-family: var(--font-family-m);
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--color-primary-text);
    padding-right: 24px;
}

.bottom__logo {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 96px;
    padding-top: 33px;
} */